<% provide(:title, 'Home') %>
<!-- Begin Carousel -->
<div class="sliderContainer fullWidth clearfix">
  <div id="full-width-slider" class="royalSlider heroSlider rsMinW">
    <!-- This is reference code -->
    <!-- <div class="rsContent"> -->
    <!-- <img class="rsImg" src="http://dimsemenov.com/plugins/royal-slider/img/full-width/1.jpg" alt="" /> -->
    <!-- <div class="infoBlock infoBlockBottomLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200"> -->
    <!-- <h4>This is an animated block, add any number of them to any type of slide</h4> -->
    <!-- <p>Put completely anything inside - text, images, inputs, links, buttons.</p> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="rsContent"> -->
    <%#= image_tag asset_path("seattle-skyline.jpg"), :class => "rsImg", "alt" => "" %>
    <!-- <div class="infoBlock  rsAbsoluteEl" style="color:#000;" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200"> -->
    <!-- <h4>This is a static HTML block</h4> -->
    <!-- <p>It's always displayed and not animated by slider.</p> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="rsContent"> -->
    <%#= image_tag asset_path("ffr.jpg"), :class => "rsImg", "alt" => "" %>
    <!-- <div class="infoBlock rsABlock infoBlockBottomLeftBlack" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200"> -->
    <!-- <h4>You can link to this slide by adding #3 to url.</h4> -->
    <!-- <p><a href="http://http://dimsemenov.comhttp://dimsemenov.com/plugins/royal-slider/gallery-with-deeplinking/">Learn more</a></p> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="rsContent"> -->
    <%#= image_tag asset_path("amp.jpg"), :class => "rsImg", "alt" => "" %>
    <!-- <span class="photosBy rsAbsoluteEl" data-fade-effect="fa;se" data-move-offset="40" data-move-effect="bottom" data-speed="200">Photos by <a href="http://www.flickr.com/photos/gilderic/">Gilderic</a></span> -->
    <!-- </div> -->
    <div class="rsContent">
      <%= image_tag asset_path("1.jpg"), :class => "rsImg", "alt" => "" %>
      <!--<div class="infoBlock infoBlockBottomLeftWhite rsAbsoluteEl" style="color:#000;" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">-->
        <!--<h4>Freshest Sushi</h4>-->
      <!--</div>-->
    </div>

    <div class="rsContent">
      <%= image_tag asset_path("2.jpg"), :class => "rsImg", "alt" => "" %>
      <!--<div class="infoBlock infoBlockBottomLeftWhite rsAbsoluteEl" style="color:#000;" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">-->
        <!--<h4>Delicious Bento Boxes</h4>-->
        <!--<p>Using Ruby on Rails, I joined forces with a friend to create a content management system that anyone can now use to...</p>-->
        <%#= link_to 'Read more', @scratchcms %>
      <!--</div>-->
    </div>

    <div class="rsContent">
      <%= image_tag asset_path("3.jpg"), :class => "rsImg", "alt" => "" %>
      <!--<div class="infoBlock infoBlockBottomLeftWhite rsAbsoluteEl" style="color:#000;" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">-->
        <!--<h4>Delicious Hot Dishes</h4>-->
        <!--<p>For my embedded systems capstone project, I worked in a 4 person group to create a quadrotor, modifying it to...</p>-->
        <%#= link_to 'Read more', @quadrotor %>
      <!--</div>-->
    </div>

    <div class="rsContent">
      <%= image_tag asset_path("4.jpg"), :class => "rsImg", "alt" => "" %>
      <!--<div class="infoBlock infoBlockBottomLeftWhite rsAbsoluteEl" style="color:#000;" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">-->
        <!--<h4>Photography</h4>-->
        <!--<p>I started taking photos my freshman year of college, and since then I've been taking some decent shots.</p>-->
        <%#= link_to 'See the gallery', '/photography', 'data-no-turbolink' => true %>
      <!--</div>-->
    </div>

    <div class="rsContent">
      <%= image_tag asset_path("5.jpg"), :class => "rsImg", "alt" => "" %>
      <!--<div class="infoBlock infoBlockBottomLeftWhite rsAbsoluteEl" style="color:#000;" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">-->
        <!--<h4>DDR</h4>-->
        <!--<p>Our class' final project in EE 271 (Digital Logic) was to use digital logic to create something on an FPGA. There was a...</p>-->
        <%#= link_to 'Read more', @ddr %>
      <!--</div>-->
    </div>

    <div class="rsContent">
      <%= image_tag asset_path("6.jpg"), :class => "rsImg", "alt" => "" %>
      <!--<div class="infoBlock infoBlockBottomLeftWhite rsAbsoluteEl" style="color:#000;" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">-->
        <!--<h4>Pocket Amplifier</h4>-->
        <!--<p>The C-Moy pocket amplifier that I built has a special place in my heart. This is what got me into the difficult yet...</p>-->
        <%#= link_to 'Read more', @amp %>
      <!--</div>-->
    </div>
  </div>
  <!-- End Carousel -->
<div class="container-main">


	<!--<div id="ei-slider" class="ei-slider">-->
	    <!--<ul class="ei-slider-large">-->
	        <!--<li style="opacity: 1;">-->
	            <!--<%#= image_tag asset_path("1.jpg")%>-->
	            <!--<div class="ei-title">-->
	                <!--<h2>Creative</h2>-->
	                <!--<h3>Geek</h3>-->
	            <!--</div>-->
	        <!--</li>-->
	        <!--<li style-"opacity: 0;">-->
	            <!--<%#= image_tag asset_path("logo.bmp")%>-->
	            <!--<div class="ei-title">-->
	                <!--<h2>Creative</h2>-->
	                <!--<h3>Geek</h3>-->
	            <!--</div>-->
	        <!--</li>-->
	    <!--</ul>-->

	<!--</div>-->

	<hr>

	<!-- Description Blocks -->
	<div class="row-fluid">
		<div class="span4">
		  <h2></h2>
		  <p></p>
		</div>
		<div class="span4">
		  <h2>Easy to Use</h2>
		  <p>No coding. No text editors. Once you have your website up on Heroku, all you have to work with is Scratch CMS, which has clean design and is user friendly.</p>
		</div>

	</div>

	<hr>


</div>



<%#

Parallax page - will replace the above slider

(photo of sushi)
We pride ourselves in providing fresh, high quality sushi.

(photo of maki rolls)
Sometimes with a touch of creativity, like in our specialty maki rolls.

(photo of bento box)
But that's not all you should come for.

(photo of main dishes)
We have some amazing Thai and Chinese dishes as well.

(photo of lamb steaks)
Not to mention some hidden gems

(buttons) How to get here. See the menu.

    %>